<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DATN.TTS.DATA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DATN.TTS.DATA.Properties.Settings.KhoaLuanTotNghiepConnectionString"
            connectionString="Data Source=MINHTHONG;Initial Catalog=KhoaLuanTotNghiep;User ID=sa;Password=minhthong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DATN.TTS.DATA.Properties.Settings>
            <setting name="ctr" serializeAs="String">
                <value>Data Source=MINHTHONG;Initial Catalog=KhoaLuanTotNghiep;User ID=sa;Password=minhthong</value>
            </setting>
        </DATN.TTS.DATA.Properties.Settings>
    </userSettings>
</configuration>